<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-9">
      <div class="list-group mt-5 mb-5">
        <a href="#" class="list-group-item list-group-item-action active mb-3">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Why it doesn't work?</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Josh Mul</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action mb-3">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Abyrvalg?</h5>
            <small class="text-muted">7 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Xam Hol</small>
        </a>
      </div>
    </div>
  </div>
</div>
