<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-9">
      <div class="list-group mt-5 mb-5">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <a [routerLink]="['question', question.id]"
          class="list-group-item list-group-item-action mb-3"
          *ngFor="let question of questionList | async">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ question.title }}</h5>
            <small>{{ question.createdAt | date: 'dd/MM/yyyy HH:mm' }}</small>
          </div>
          <p class="mb-1">
            {{ question.description }}
          </p>
          <small>Josh Mul</small>
        </a>
      </div>
    </div>
  </div>
</div>
