<div class="container">
  <div class="row">
    <div class="col col-md-8">
      <div class="d-flex w-100 justify-content-between mt-4">
        <h1 class="mb-1">Why it doesn't work?</h1>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
      </p>
      <small>Josh Mul</small>

      <hr>

      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your answer</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button type="submit" class="btn btn-primary mt-3 px-5">Post Your Answer</button>
        </div>
      </form>

      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>
