<div class="container">
  <div class="row">
    <div class="col col-md-8">
      <div class="d-flex w-100 justify-content-between mt-4">
        <h1 class="mb-1">{{ question?.title }}</h1>
        <small>{{ question?.createdAt | date: 'dd/MM/yyyy HH:mm' }}</small>
      </div>
      <p class="mb-1">
        {{ question?.description }}
      </p>
      <small>Josh Mul</small>

      <hr>

      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="answer-form__input">Your answer</label>
          <textarea
            d="answer-form__input"
            class="form-control"
            [ngClass]="{'is-valid': isControlValid('answer')}"
            rows="3"
            formControlName="answer"></textarea>

          <button
            type="submit"
            class="btn btn-primary mt-3 px-5"
            [disabled]="!form.valid">Post Your Answer</button>
        </div>
      </form>

      <div>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let answer of question?.answers">
            {{ answer }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
