<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-9">
      <div class="list-group mt-5 mb-5">
        <a
          [routerLink]="['question', question.id]"
          class="list-group-item list-group-item-action mb-3"
          *ngFor="let question of adminQuestionList | async">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ question.title }}</h5>
            <small>{{ question.createdAt | date: 'dd/MM/yyyy HH:mm' }}</small>
          </div>
          <p class="mb-1">
            {{ question.description }}
          </p>
          <small>Josh Mul</small>
          <div class="d-flex w-100 justify-content-end">
            <button
              type="button"
              class="btn btn-primary btn-lg mr-2"
              (click)="approve(question)">
              Approve
            </button>
            <button
              type="button"
              class="btn btn-danger btn-lg"
              (click)="reject(question)">
              Reject
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
